.DS_Store
Sharp_MZ-80B/Keyboard/fp-info-cache
/Sharp_MZ-80B/Keyboard/Sharp_MZ-80B_Keyboard-backups
/Sharp_MZ-80B/Sharp_MZ-80GMK/Sharp_MZ-80GMK-backups
/Sharp_MZ-80B/Sharp_MZ-80GMSD/Sharp_MZ-80GMSD-backups
/Sharp_PC-2500/Sharp_PC-2500_RAM_Card/Sharp_PC-2500_RAM_Card-backups
